name: build
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:
permissions:
  packages: write
jobs:
  alpine:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: build
        run: |
          if ! docker manifest inspect ghcr.io/khorwood/alpine:$RELEASE; then
            ./fetch-minirootfs.sh v$VERSION $RELEASE
            docker buildx build \
              -t ghcr.io/khorwood/alpine:$VERSION \
              -t ghcr.io/khorwood/alpine:$RELEASE .
            if [["$GITHUB_REF" == 'refs/heads/main']]; then
              echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
              docker push -a ghcr.io/khorwood/alpine
            fi
          fi
        env:
          VERSION: 3.23
          RELEASE: 3.23.3
        working-directory: alpine
  images:
    runs-on: ubuntu-latest
    needs: [alpine]
    strategy:
      matrix:
        include:
          - image: irssi
            release: 1.4.5-r6
          - image: prometheus
            release: 3.5.0-r5
          - image: radarr
            release: 6.0.4.10291
          - image: sabnzbd
            release: 4.5.5
          - image: sonarr
            release: 4.0.16.2944
    steps:
      - uses: actions/checkout@v5
      - run: |
          docker buildx build --build-arg RELEASE=$RELEASE \
            -t ghcr.io/khorwood/${{ matrix.image }}:${(${RELEASE//-/ })[0]}-${{ github.run_number }} \
            -t ghcr.io/khorwood/${{ matrix.image }}:${(${RELEASE//-/ })[0]} \
            -t ghcr.io/khorwood/${{ matrix.image }}:latest \
            .
        env:
          RELEASE: ${{ matrix.release }}
        working-directory: ${{ matrix.image }}
      - name: docker login
        if: github.ref == 'refs/heads/main'
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: docker push
        if: github.ref == 'refs/heads/main'
        run: docker push --all-tags ghcr.io/khorwood/${{ matrix.image }}
        working-directory: ${{ matrix.image }}
